@model IEnumerable<PhaseOne.Models.InventoryItem>
@using Microsoft.AspNetCore.Http

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            @if (Context.Session.GetString("UserID") != null)
                        {
                <td>
                    <a asp-controller="InventoryItems" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
                <td>
                    <a asp-controller="InventoryItems" asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
                <td>
                    <a asp-controller="InventoryItems" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-controller="InventoryItems" asp-action="Purchase" asp-route-id="@item.ID">Purchase</a>
                </td>
            }

            
        </tr>
}
    </tbody>
</table>
