@model PhaseOne.Models.InventoryItem

@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Purchase</h2>

<form asp-action="Purchase">
    <div class="form-horizontal">
        <h4>InventoryItem</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" type="hidden" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label for="PurchaseQty" class="col-md-2 control-label">Purchase Quantity</label>
            <div class="col-md-10">
                <input id="PurchaseQty" name="PurchaseQty" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID" type="hidden"></select>
                <span asp-validation-for="UserID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Purchase" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

