@using Microsoft.AspNetCore.Http
@model PhaseOne.Models.User


@{
    ViewData["Title"] = "Index";
    ViewData["Username"] = Context.Session.GetString("Username");
}

<h2>Management Portal</h2>

<div>
    <h4>Hello, @ViewData["Username"]</h4>
    <hr />
    
</div>

<div>
    <ul>
        <li><a class="btn btn-primary" asp-area="" asp-controller="Users" asp-action="Index">Manage Users</a></li>
        <li><a class="btn btn-primary" asp-area="" asp-controller="InventoryItems" asp-action="Index">Manage Inventory</a></li>
    </ul>
    
</div>
